/*default setitngs for html elements*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/*background colour for web page*/
body {
  background-color: #d9dcd6;
}
/*styling for paragraphs*/
p {
  font-size: 16px;
}
/*styling for header element*/
#header {
  padding: 20px;
  background-color: #2a607c;
}
/*styling for heading 1 in header*/
#header h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  display: inline-block;
  font-size: 48px;
  color: #ffffff;
}
/*styling to accent of S.E.O in logo*/
#seo {
  color: #d9dcd6;
}
/*styling for navigation bar*/
#nav {
  padding-top: 15px;
  margin-right: 10px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}
/*styling for nav links*/
.nav-links {
  display: inline-block;
  margin-left: 15px;
  margin-right: 10px;
  color: #ffffff;
  text-decoration: none;
  color: #ffffff;
  text-decoration: none;
}

/*sizing for digital marketing meeting image*/
#marketing-meeting-image {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  object-fit: cover;
}
/*positioning for contenet*/
#content {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}
/*postioning for and sizing article pictures*/
.float-left {
  float: left;
  margin-right: 25px;
  max-height: 200px;
}
/*positioning and sizing for article pictures*/
.float-right {
  float: right;
  margin-left: 25px;
  max-height: 200px;
}
/*styling for articles*/
.content-article {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}
/*style for h2 within articles*/
#content h2 {
  margin-bottom: 20px;
  font-size: 36px;
}
/*style and position for side bar*/
#benefits {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
}
/*spacing for sections in side-bar*/
.benefits-spacing {
  margin-bottom: 32px;
  color: #ffffff;
}
/*heading 3 styling for each section within side-bar*/
.benefits-spacing h3 {
  margin-bottom: 10px;
  text-align: center;
}
/*image sizing for side-bar*/
.benefits-spacing img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}
/*footer styling*/
.footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}
/*styling for h2 within footer*/
.footer h2 {
  font-size: 20px;
}
